body{
    background-color: darkblue;

}

}


/* Navigation Section */

.top-navigation {
    color:white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    display:block;
    margin:0 auto;
    padding:0 auto;
    font-size:100%;
    vertical-align: baseline;
    box-sizing:border-box;
    height: 35px;
}
.top-navigation .logo{

    height: 4.375rem;
    width:  4.375rem;
    margin-left: 35px;
}
}

.top-navigation > .content {
    background-color: white;
    height: 22px;

}
/** Links for navbar **/
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.font-select{
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     color: #838994;
     letter-spacing: 0.03em;
}
img.logo{
    background-color: white;
    color: white;
}
header{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    height: 190px;
    background-color: #189384;
    color: white;
    width: 100%;
    font-size: 40px;
    padding-top:1px ;


}
h1{
    border-style: solid;
    border-top-width: 2px;
    border-color: white;
    color: white;
}

p{
    color: black;
    background-color: white;
    margin-right:397px;
}







